html
{
    font-size:100%;
}
body
{
      background: linear-gradient(to right, #0b486b, #f56217);
}
.continer
{
    margin: 4% 13% 0% 41%;
    width: ;221px;
}
.form
{
    margin-top:2rem;
}
.form .formtitle
{
    font-family: yekan;
    background-color: #b47242;
    color: #5a0000;
    padding: 17px 92px 16px 143px;
    border-radius: 36px;
    box-shadow: 2px 2px 20px 23px #ecb27f;
    font-size: 38px;
    margin: -6px 438px 25px -5px;
}

.form label,
.form input
{
    display:block;
    margin-bottom:1rem;
}

.form label
{
    font-size: 21px;
    font-weight:bold;
}

.form input.from-control
{
    font-family: yekan;
    background-color: #bc8c58;
    color: #cdac9f;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 20px 23px #daa37a;
    padding: 1rem 0rem;
    border: 3px solid;
    border-radius: 48px;
    width: 48%
}


.form input.from-control::placeholder
{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    background-color: #a7645d;
}

.button-64
{
    align-items: center;
    background-image: linear-gradient(to right, #0b486b, #f56217);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover
{
  outline: 0;
}

.button-64 span
{
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span 
{
  background: none;
}

@media (min-width: 768px)
{
    .button-64
    {
    font-size: 24px;
    min-width: 196px;
    }
}
